.flex-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  align-content: stretch;
  width:75%;
  padding:5%, 0, 0, 0;
  margin:0;
}

.flex-item {
  width:200px;
  height:200px;
  margin: 5px;
  padding: 3px;
}