<div class="left">
  <h3>Transportation Information</h3>
  <app-radar-chart 
    [costData]="costData"
    transportMode="plane"
    (click)="changeTravelMode()">
  </app-radar-chart>
</div>
<div class="right">
  <div class="stats">
    <h3>Statistics</h3>
    <div *ngIf="travelMode==='plane'">
      <app-plane-stats></app-plane-stats>
    </div>
    <div *ngIf="travelMode==='car'">
      <app-car-stats></app-car-stats>
    </div>
  </div>
  <div class="ranks">
    <h3>Ranking</h3>
    <p>{{ranking}}</p>
  </div>
</div>

<!--<div class = 'outer'>
      <p>Ranking: {{ ranking }}</p>
      <p>PLANE</p>
      <app-radar-chart 
      [costData]="costData"
      transportMode="plane">
      </app-radar-chart>
      <app-plane-stats 
      [costData]="costData">
      </app-plane-stats>
    </div>
  `,-->