<button type="button" class="btn btn-primary center-block popup" (click)="smModal.show()">Start your journey</button>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>-->
        <h4 class="modal-title">About your Journey</h4>
      </div>
      <div class="modal-body">
        <div class="depart">
          <h5>Origin</h5>
          <input [(ngModel)]="originSelectedState"
                [typeahead]="statesComplex"
                [typeaheadOptionField]="'name'"
                [typeaheadOptionsLimit]="7"
                (typeaheadOnSelect)="originStateSelected($event)"
                placeholder="Pick a location"
                class="form-control">
        </div>
        <div class="return">
          <h5>Destination</h5>
          <input [(ngModel)]="destinationSelectedState"
                [typeahead]="statesComplex"
                [typeaheadOptionField]="'name'"
                [typeaheadOptionsLimit]="7"
                (typeaheadOnSelect)="destinationStateSelected($event)"
                placeholder="Pick a location"
                class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="smModal.hide()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>