<div *ngIf="method==='transit'">
  <div class = 'outer'>
    <div class=image>
    <!--<img src=" {{ place }} " />-->
    <br />   
    </div>
    <div class="stats">
      <app-train-stats
      [costData]="costData"
      [changes]="changes"
      [rank]="rank"
      [method]="method">
      </app-train-stats>
    </div>
  </div>
</div>

<div *ngIf="method ==='train'">
  <div class = 'outer'>
    <div class=image>
    <!--<img src=" {{ place }} " />-->
    <br />   
    </div>
    <div class="stats">
      <app-train-stats
      [costData]="costData"
      [changes]="changes"
      [rank]="rank">
      </app-train-stats>
    </div>
  </div>
</div>