@import url('https://fonts.googleapis.com/css?family=Courgette|Lato');

.outer {
  width:100%;
  height:100%;
  border: solid 1px black;
  border-radius: 10px;
  float:left;
  background: url('../../assets/bigtrain.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:whitesmoke;
  position:relative;
  text-align: center;
  font-size: 1.3em;
  font-family: Lato;
  text-shadow: 1px 1px 1px black;
    }
.outer:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bigtrain.jpeg');
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bigtrain.jpeg');
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bigtrain.jpeg');
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bigtrain.jpeg');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5))), url('../../assets/bigtrain.jpeg');
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/bigtrain.jpeg');
}
.stats {
  height:100%;
  width:100%;
  text-align:center;
  position:absolute;
  z-index:100;
}