<div class="depart">
  <h5>Origin</h5>
  <input [(ngModel)]="originSelectedState"
        [typeahead]="statesComplex"
        [typeaheadOptionField]="'name'"
        [typeaheadOptionsLimit]="7"
        (typeaheadOnSelect)="originStateSelected($event)"
        placeholder="Pick a location"
        class="form-control">
</div>
<div class="return">
  <h5>Destination</h5>
  <input [(ngModel)]="destinationSelectedState"
        [typeahead]="statesComplex"
        [typeaheadOptionField]="'name'"
        [typeaheadOptionsLimit]="7"
        (typeaheadOnSelect)="destinationStateSelected($event)"
        placeholder="Pick a location"
        class="form-control">
</div>