<div class="origin">
  <label for="origin">Origin</label>
  <input [(ngModel)]="asyncSelected"
        [typeahead]="dataSource"
        [typeaheadOptionField]="'Name'"
        [typeaheadOptionsLimit]="7"
        (typeaheadLoading)="changeTypeaheadLoading($event)"
        (typeaheadNoResults)="changeTypeaheadNoResults($event)"
        (typeaheadOnSelect)="typeaheadOnSelect($event)"
        [typeaheadWaitMs]="300"
        placeholder="Pick a location"
        class="form-control"
        id="origin">
  <div *ngIf="typeaheadLoading===true">
    <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
  </div>
  <div *ngIf="typeaheadNoResults===true" class="" style="">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
  </div>
  <app-date-input></app-date-input>
</div>
<div class="destination">
  <label for="destination">Destination</label>
  <input [(ngModel)]="destinationSelectedState"
        [typeahead]="statesComplex"
        [typeaheadOptionField]="'name'"
        [typeaheadOptionsLimit]="7"
        (typeaheadOnSelect)="destinationStateSelected($event)"
        placeholder="Pick a location"
        class="form-control"
        id="destination">
  <app-date-input></app-date-input>
</div>
<div>
  <app-travelers></app-travelers>
</div>
