nav {
  background-color: white;
  display: inline-block;
  padding: 10px;
}

p {
  margin: 0;
  font-size: 1.8em;
  font-family: Courgette;
  color: #333;
}

ul {
  display: inline-block;
  margin: 0;
}

li {
  list-style: none;
}

.btn {
  background-color: #9c27b0;
  color: white;
  display: inline-block;
}

.modal-header, .modal-footer {
  text-align: center;
}

.date, .travelers {
  display: inline-block;
  width: 40%;
}

#additional-inputs {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.center {
  display: inline-block;
  left: 0;
  right: 0;
  text-align:center;
  width:70%;
  margin-left: 4%;
}