.popup {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: 2.5px solid white;
  border-radius: 2px;
  color: white; font-size: 2em;
}

.date, .travelers {
  display: inline-block;
  width: 40%;
}

#additional-inputs {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.popup:hover {
  color: #625949;
  background-color: #ede6e1;
}

.modal-header, .modal-footer {
  text-align: center;
}