<button type="button" class="btn btn-primary center-block popup" (click)="mdModal.show()">Start your journey</button>

<div bsModal #mdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" style="min-height: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Journey Details</h4>
      </div>
      <form>
        <div class="modal-body" >
          <app-drive-loc-input (driveLocNotify)='onDriveLocNotify($event)'></app-drive-loc-input>
          <app-loc-input *ngIf="showAirportFields" (locNotify)='onLocNotify($event)'></app-loc-input>
          <div *ngIf="showLocalFields" class="flex-container" id="additional-inputs">
            <app-date-input class="date flex-item" (dateNotify)='onDateNotify($event)'></app-date-input>
            <app-travelers class="travelers flex-item" (travelersNotify)='onTravelersNotify($event)'></app-travelers>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" [disabled]="!true" (click)="mdModal.hide(); onClick($event)">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>