<!-- <app-header></app-header>
<app-options></app-options> -->
<div class="loading-overlay" *ngIf="loading">
    <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
    <p>LOADING</p>
</div>
<router-outlet></router-outlet>
 <!--- Round-Trip
  -Origin
  -Destination
  -Departure Date
  -Return Date
  -# of ppl going
 - One-Way
  -Origin
  -Destination
  -Departure Date
  -# of ppl going
 - Submit Button-->

<!--Switching between the two, take out Return date & highlight selected tab-->
<!-- <app-slogan></app-slogan> -->