<div class="about" id="navigateToAbout">
  <div class="why">
    <h3>Why You Should Use Travel Light</h3>
    <br>
    <!--Summary of why you should use the site cuz emissions-->
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
  <div class="where">
    <h3>Where The Data Came From</h3>
    <br>
    <!--Where the data came from (SkyScanner, etc)-->
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
  <div class="who">
    <h3>Meet our Development Team</h3>
    <br>
    <div class="team">
      <div class="dev">
        <img src="../../../assets/anna-sophie.jpeg" class='img-circle'/>
        <h4>Anna-Sophie Nagel</h4>
        <a href="https://github.com/annasophie"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/annasophienagel"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
      <div class="dev">
        <img src="../../../assets/erica.jpeg" class='img-circle'/>
        <h4>Erica Fanelle</h4>
        <a href="https://github.com/efanelle"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/erica-fanelle"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
      <div class="dev">
        <img src="../../../assets/ivey.jpeg" class='img-circle'/>
        <h4>Ivey Topaz</h4>
        <a href="https://github.com/ivtpz"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/ivey-topaz-765a85124"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
      <div class="dev">
        <img src="../../../assets/kat.jpeg" class='img-circle'/>
        <h4>Katrina Gurdak</h4>
        <a href="https://github.com/katgurdak"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/katgurdak"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
      <div class="dev">
        <img src="../../../assets/phil.jpeg" class='img-circle'/>
        <h4>Philip Dorin</h4>
        <a href="https://github.com/PHDorin"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/philip-dorin-0705a3b3"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>