<div class="about" id="navigateToAbout">
  <div class="why">
    <h3>Why You Should Use Travel Light</h3>
    <p>Travel Light allows you to compare a multitude of modes of transportation - by planes, trains, or driving through hurricanes - and pick the one best for you whether that’s for your time, your wallet, or your consideration for your environmental impact.</p>
    <p>Here at Travel Light, we understand the many choices involved in planning a trip and present you this app as an easy way to make a complex decision simple. We've all wondered whether it was more cost-efficient to drive or buy a plane ticket and with Travel Light, you can effortlessly know not only which choice is more cost-efficient, but which one saves you the most time.</p>
    <p>In addition, we display understandable statistics that include emissions. In doing so, we hope to encourage you to care more about the environment or at least be more aware of how your choice does impact it. Read on below for more information on how we get our data or go right ahead and start your journey.</p>
  </div>
  <div class="where">
    <h3>Where The Data Came From</h3>
    <p>For our plane data, we'd like to thank Skyscanner and Openflights for providing us with flight routes and a list of airports. </p>
    <p>Our train information comes from the wonderful site, Wanderu.</p>
    <p>As for cars, fueleconomy.com provided us with individual car data which included its make, model, year, mpg, and emissions.</p>
    <p>We also used Google Maps API for calculating walking and transit data.</p>
  </div>
  <div class="who">
    <h3>Meet our Development Team</h3>
    <br>
    <div class="team">
      <div class="dev">
        <img src="../../../assets/anna-sophie.jpeg" class='img-circle'/>
        <h4>Anna-Sophie Nagel</h4>
        <a href="https://github.com/annasophie"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/annasophienagel"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
      <div class="dev">
        <img src="../../../assets/erica.jpeg" class='img-circle'/>
        <h4>Erica Fanelle</h4>
        <a href="https://github.com/efanelle"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/erica-fanelle"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
      <div class="dev">
        <img src="../../../assets/ivey.jpeg" class='img-circle'/>
        <h4>Ivey Topaz</h4>
        <a href="https://github.com/ivtpz"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/ivey-topaz-765a85124"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
      <div class="dev">
        <img src="../../../assets/kat.jpeg" class='img-circle'/>
        <h4>Katrina Gurdak</h4>
        <a href="https://github.com/katgurdak"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/katgurdak"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
      <div class="dev">
        <img src="../../../assets/phil.jpeg" class='img-circle'/>
        <h4>Philip Dorin</h4>
        <a href="https://github.com/PHDorin"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/philip-dorin-0705a3b3"><i class="fa fa-linkedin-square fa_custom fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>