.glyphicon.glyphicon-plus-sign {
  font-size: 25px;
}
.top {
  margin-top:28px;
}
.ion-help-circled {
  font-size: 25px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.form-column.center {
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  padding-left: 40px;
  padding-right: 40px;
}

input.cost {
  width: 60px;
}

input.time {
  width: 20px;
  text-align: right;
}

.info {
  position: absolute;
  background-color: whitesmoke;
  z-index: 1;
  display: inline-grid;
  top: 55px;
  left: 215px;
  padding: 5px;
  width: 320px;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-size: .9em;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.time {
  display: inline-block;
}

.note {
  text-align: left;
  position: absolute;
  margin-left: 18px;
}

.color {
  color: #14ade0;
}

input {
  border: none;
  color: #14ade0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

h3 {
  text-align: center;
}

h4 {
  background-color: gainsboro;
  text-align: center;
  padding: 4px;
  border-radius: 3px;
}

img {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}