<p class = 'top' (click)="mdModal.show()">
  <span class="glyphicon glyphicon-plus-sign"></span>Advanced Options
</p>

<div bsModal #mdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" style="min-height: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Advanced Options
          <span class="ion-help-circled" (mouseover)="showPopUpInfo()" (mouseleave)="hidePopUpInfo()"></span>
        </h3>
        <div *ngIf="showHelpInfo" class="info">
          We do our best to find accurate information for your trip. However, you can customize the trip information by telling us about your car, or editing the specifics of your trip if you already know them. 
        </div>
      </div>
      <form *ngIf="costData.tripType==='distant'" [formGroup]="distantOptionsForm" (ngSubmit)="submit(distantOptionsForm.value)">
        <div class="modal-body" >
          <div class="flex-container">
            <div class="form-column">
              <img src="../../../assets/carIcon.png">
              <label for="car-time">Time: </label>
              <div class="time">
                <input type="number" [formControl]="distantOptionsForm.controls['carHours']" class="time"> hours 
                <input type="number" [formControl]="distantOptionsForm.controls['carMins']" class="time"> min
              </div>
              <app-car-input (carNotify)='onCarNotify($event)'></app-car-input>
            </div>
            <div class="form-column center">
              <img src="../../../assets/airplaneIcon.png">
              <label for="plane-cost">Cost: </label> $ 
              <input type="number" [formControl]="distantOptionsForm.controls['flightCost']" class="cost"><br />
              <label for="plane-time">Time: </label>
              <div class="time">
                <input type="number" [formControl]="distantOptionsForm.controls['flightHours']" class="time"> hours
                <input type="number" [formControl]="distantOptionsForm.controls['flightMins']" class="time"> min
              </div>
            </div>
            <div class="form-column">
              <img src="../../../assets/train.png">
              <label for="train-cost">Cost: </label> $
              <input type="number" [formControl]="distantOptionsForm.controls['trainCost']" class="cost"><br />
              <label for="train-time">Time: </label>
              <div class="time">
                <input type="number" [formControl]="distantOptionsForm.controls['trainHours']" class="time"> hours 
                <input type="number" [formControl]="distantOptionsForm.controls['trainMins']" class="time"> min
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="note">*<span class="color">Blue </span> text is editable</div>
          <button class="btn btn-default" type="button" [disabled]="!true" (click)="mdModal.hide()">
            Cancel
          </button>
          <button class="btn btn-success" type="submit" [disabled]="!true" (click)="mdModal.hide()">
            Update
          </button>
        </div>
      </form>
      <form *ngIf="costData.tripType==='local'" [formGroup]="localOptionsForm" (ngSubmit)="submit(localOptionsForm.value)">
        <div class="modal-body" >
          <div class="flex-container">
            <div class="form-column">
              <img src="../../../assets/carIcon.png">
              <label for="car-time">Time: </label>
              <div class="time">
                <input type="number" [formControl]="localOptionsForm.controls['carHours']" class="time"> hours
                <input type="number" [formControl]="localOptionsForm.controls['carMins']" class="time"> min
              </div>
              <app-car-input (carNotify)='onCarNotify($event)'></app-car-input>
            </div>
            <div class="form-column center">
              <img src="../../../assets/train.png">
              <label for="train-cost">Cost: </label> $
              <input type="number" [formControl]="localOptionsForm.controls['trainCost']" class="cost"><br />
              <label for="train-time">Time: </label>
              <div class="time">
                <input type="number" [formControl]="localOptionsForm.controls['trainHours']" class="time"> hours 
                <input type="number" [formControl]="localOptionsForm.controls['trainMins']" class="time"> min
              </div>
            </div>
            <div class="form-column">
              <img src="../../../assets/walk.png">
              <label for="walking-pace">Walking Speed: </label>
              <input type="number" [formControl]="localOptionsForm.controls['walkingPace']" class="time"> mph
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="note">*<span class="color">Blue </span> text is editable</div>
          <button class="btn btn-default" type="button" [disabled]="!true" (click)="mdModal.hide()">
            Cancel
          </button>
          <button class="btn btn-success" type="submit" [disabled]="!true" (click)="mdModal.hide()">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
