.info {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  padding-top:1%;
}
.price {
  float:right;
  font-weight:bold;
  padding-right:2%;
}
.left {
  float:left;
  text-align:left;
  padding-left:2%;
}
a {
  color: whitesmoke;
}
p {
  margin:0;
}
h3{
  margin-top:0;
  margin-bottom:0;
}
.gold {
  color: gold;
}
.silver {
  color:silver;
}
.bronze {
  color: #b87533;
}
.ion-ribbon-b{
  font-size:2.5em;
  padding-top:5%
}