h3 {
  text-align: center;
  color: #625949;
  margin-bottom: 30px;
}

app-preference-slider-container {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  min-height: 70%;
  justify-content: space-around;
  padding-bottom: 10%
}

.left {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 60%;
  border: solid 1px #625949;
  border-radius: 10px;
  float: left;
  justify-content: flex-end;
}

.right {
  width: 30%;
  align-items:center;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}

/*.stats, .ranks, */
.sliders {
  width: 100% !important;
  /* border: solid 1px #625949; */
  border-radius: 10px;
  padding-bottom: 15px;
  margin-top: -5%;
}
.flex-item {
  align-self: center;
  width: 70%;
}
/*.ranks, .sliders {
  margin-top: 3%;
}*/

/*.sliders:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}*/

ol {
  font-size: 1.35em;
  color: #625949;
}

li:first-letter {
  text-transform: capitalize;
}

.rank-item {
  cursor: pointer;
}

.rank-item:hover {
  color: black;
}

.info {
  font-size: 1.3em;
  margin-left: 5%;
}

img {
  width: 35px;
  height: 35px;
  display: inline-block;
}

.center {
  text-align: center;
}