#background {
  background-color: #DB7769; 
  width:100%;
  height:100%;
}
/*h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-weight: 200;
  opacity: .5;
	font-family: sans-serif;
  color: #fff;
}*/
.circle {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  background-color: #454347; 
  left:calc(50% - 60px);
  top:calc(43% - 60px);
  position:absolute;
}
.innerCircle {
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-color: white; 
  left:calc(50% - 55px);
  top:calc(50% - 55px);
  position:relative;
  z-index: 1;
}
.statement {
  color: #454347;
  font-size: 15px;
  width: 100%;
  text-align: center;
  position: absolute;
  top:60%;
}
#loader {
  animation: loader 5s cubic-bezier(.8,0,.2,1) infinite;
  height: 60px;
  width: 60px;
  position: absolute;
  top:calc(50% - 30px);
  left:calc(50% - 30px);
  z-index: 2;
}
@keyframes loader {
  90% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
#top {
  animation: top 5s linear infinite;
  border-top: 30px solid purple;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}
@keyframes top {
  90% { transform: scale(0); }
  100% { transform: scale(0);}
}
#bottom {
  animation: bottom 5s linear infinite;
  border-right: 30px solid transparent;
  border-bottom: 30px solid purple;
  border-left: 30px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}
@keyframes bottom {
  10% { transform: scale(0); }
  90% { transform: scale(1); }
  100% { transform: scale(1); }
}
#line {
  animation: line 5s linear infinite;
  border-left: 2px dotted purple;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 30px;
  left: 29px;
}
@keyframes line {
  10% { height: 30px; }
  100% { height: 30px; }
}